.todo {
	font-weight:400;
	font-size: 1.2rem;
    border-bottom: 1px solid rgb(212, 210, 210);
	.done {
		text-decoration: line-through;
        background-color: rgb(243, 243, 243);
	}
	.done,
	.not-done {
		display: flex;
		align-items: center;
        justify-content: center;
        margin-right: 7%;
	}
}
